
headerbar {
  padding: 4px 8px;
  min-height: 30px;
  color: #000000;
  background-color: #A9A9A9; }
  headerbar:backdrop {
    color: #000000;
    background-color: #A9A9A9; }
  separator:first-child + headerbar, separator:first-child + headerbar:backdrop, headerbar:first-child, headerbar:first-child:backdrop {
    border-top-left-radius: 0px; }
    .maximized separator:first-child + headerbar, .tiled separator:first-child + headerbar, .maximized separator:first-child + headerbar:backdrop, .tiled separator:first-child + headerbar:backdrop, .maximized headerbar:first-child, .tiled headerbar:first-child, .maximized headerbar:first-child:backdrop, .tiled headerbar:first-child:backdrop {
      border-radius: 0; }
  headerbar:last-child, headerbar:last-child:backdrop {
    border-top-right-radius: 0px; }
    .maximized headerbar:last-child, .tiled headerbar:last-child, .maximized headerbar:last-child:backdrop, .tiled headerbar:last-child:backdrop {
      border-radius: 0; }
  headerbar .title {
    padding-left: 12px;
    padding-right: 12px;
    font-weight: bold; }
  headerbar .subtitle {
    font-size: smaller;
    padding-left: 12px;
    padding-right: 12px;
    // color: alpha(currentColor, 0.7);
}
  headerbar button {
    padding: 4px 8px;
    border-style: solid;
    border-width: 1px;
    border-radius: 0px;
    color: #000000;
    border-color: #000000;
    background-color: #A9A9A9;
    outline-offset: 1px;
    outline-width: 3px;
    outline-style: solid;
    -gtk-outline-radius: 3px; }
    headerbar button:active, headerbar button:checked {
      color: #A9A9A9;
      border-color: #000000;
      background-color: #0000A9; }
      headerbar button:active:backdrop, headerbar button:checked:backdrop {
        color: #A9A9A9; }
      headerbar button:active:disabled, headerbar button:checked:disabled {
        color: #8C8C8C;
        border-color: #909090;
        background-color: #989898; }
    headerbar button:disabled {
      color: #8C8C8C; }
  headerbar entry {
    padding: 4px 8px; }
  headerbar.titlebar, .titlebar headerbar {
    border-radius: 0px 0px 0px 0px; }
  headerbar .titlebutton.close, headerbar .titlebutton.maximize, headerbar .titlebutton.minimize, headerbar .titlebutton:not(separator) {
    padding: 0;
    min-height: 17px;
    min-width: 17px;
    border: 1px solid #000000;
    border-radius: 0;
    color: #000000;
    background-color: transparent;
    -gtk-icon-shadow: none;
    background-position: center;
    background-repeat: no-repeat; }
