@mixin decoration() {
  decoration {
    background-color: $bg_color;
    border-radius: $csd_radius $csd_radius 0 0;
    border-width: 0;
    padding: 2px;
    box-shadow: inset -2px -2px gtkshade($bg_color, 0.85), inset 2px 2px gtkmix($bg_color, $light_shadow, 0.55), inset -1px -1px $borders, inset 1px 1px gtkmix($bg_color, $light_shadow, 0.7);

    &:backdrop {
    }

    .maximized &,
    .fullscreen &,
    .tiled &,
    .tiled-top &,
    .tiled-right &,
    .tiled-bottom &,
    .tiled-left & { border-radius: 0; }
    
    .popup & { box-shadow: none; }

    .csd.popup & {
      border-radius: $menu_radius;
      box-shadow: none;
      padding: 0;
    }

    .ssd & {
      border-radius: $csd_radius $csd_radius 0 0;

      &.maximized {
        border-radius: 0;
        padding: 0;
      }
    }

    tooltip.csd & {
      border-radius: $csd_radius;
      box-shadow: none;
      padding: 0;
    }

    .solid-csd & {
      margin: 1px;
      border-radius: 0px;
      // background-color: gtkalpha($light_shadow, 0.95);
      box-shadow: none;
    }
  }
		window decoration,
		window headerbar {
		border-color: #8f8b7c;
		border-style: ridge;
	}
		window decoration {
		border-width: 6px;
	}

		window headerbar {
		border-width: 0px 0px 6px 0px;
	}

	/* CBT: make window action buttons larger */
headerbar .horizontal button,
zheaderbar button.titlebutton {
	zborder: 3px solid blue;
	zbackground-color: skyblue;
	background-image: none;
	border: none;
	background-size: 100%; //important
	margin: 1 3px;
}
	headerbar button.titlebutton image,
	zheaderbar button image  {
		zborder: 3px solid gold;
		opacity: 0; // prevents overlay of some of some other images in buttons
	border: none;
	margin: 1 3px;
	padding: 10px; // creates the larger size of buttons
	}
}




