@mixin scrollbar() {
  scrollbar {
    border: none;
    background-color: $bg_color;

    trough {
      border: none;
      border-radius: 0;
    }

    button {
      &, &:active, &:disabled {
        &, &:backdrop {
          border: none;
          box-shadow: none;
          color: transparent;
          padding: 0;
          background-color: transparent;
          background-size: auto;
          background-position: center center;
          background-repeat: no-repeat;
        }
      }
    }


    &.fine-tune {
    }

    &.overlay-indicator {
      opacity: 1;
    }

    &.horizontal {
      slider {
        min-width: 68px;
        min-height: 18px;
        margin: 0 8;
        border: 1px solid $borders;
        border-top-color: gtkmix($bg_color, $light_shadow, 0.7);
        border-left-color: gtkmix($bg_color, $light_shadow, 0.7);
        border-radius: $scrollbar_radius;
        background-clip: padding-box;
        // background-color: $bg_color;
		background-color: $disabled_fg_color;
        box-shadow: inset -1px 0 gtkshade($bg_color, 0.65), inset 0 -1px gtkshade($bg_color, 0.65), inset 1px 0 gtkmix($bg_color, $light_shadow, 0.7), inset 0 1px gtkmix($bg_color, $light_shadow, 0.7);
      }

      button {
        min-height: 25px;
        min-width: 25px;
      
        &.down {
          background-image: url('assets/arrow-right.png');
        }

        &.up {
          background-image: url('assets/arrow-left.png');
        }
      }
    }

    &.vertical {
      slider {
        min-width: 18px;
        min-height: 68px;
        margin: 8 0;
        border: 1px solid $borders;
        border-top-color: gtkmix($bg_color, $light_shadow, 0.7);
        border-left-color: gtkmix($bg_color, $light_shadow, 0.7);
        border-radius: $scrollbar_radius;
        background-clip: padding-box;
        // background-color: $bg_color;
		background-color: $disabled_fg_color;
        box-shadow: inset -1px 0 gtkshade($bg_color, 0.65), inset 0 -1px gtkshade($bg_color, 0.65), inset 1px 0 gtkmix($bg_color, $light_shadow, 0.7), inset 0 1px gtkmix($bg_color, $light_shadow, 0.7);
		zborder: 2px dashed darkseagreen;
		zbackground-color: deeppink;
      }

      button {
        min-height: 25px;
        min-width: 25px;

        &.down {
          background-image: url('assets/arrow-down.png');
        }

        &.up {
          background-image: url('assets/arrow-up.png');
        }
      }
    }

    treeview ~ &.vertical {
      border-top: 1px solid $borders;
      margin-top: -1px;
    }
  }
}
